# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg
dist/
build/
MANIFEST

# IDEs
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/*.log
*.log

# Data and Results
data/raw/
data/reference/
results/
demo_results/
genome_index/
*.bam
*.bai
*.fastq.gz
*.fq.gz
*.sra

# Manuscript
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.pdf
manuscript/manuscript/*.aux
manuscript/manuscript/*.bbl
manuscript/manuscript/*.blg
manuscript/manuscript/*.log
manuscript/manuscript/*.out
manuscript/manuscript/*.pdf 